<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="AngularshowhideApp">
<h2 strong>Angular Application</h2>
    <div ng-controller="showhidectrl">
    
    Enter Name to Display :
    
    <input type="button" ng-click="isShowHide('show')" value="Show Div"> <input type="button" ng-click="isShowHide('hide')" value="Hide Div">
    
    <br />
    
    <!--Show Div Based on showval-->
    
    <div ng-show="showval">Show Div: I will Appear on Show Click</div><br />
    
    <!--Hide Div Based on showval-->
    
    <div ng-hide="hideval">Hide Div: I will Appear on Hide Click</div>
    
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>